body {
    /* margin: 0; */
    background-color: #32323b;
    overflow: hidden;
}

.page_choices {
    color: #FFFFFF;
    text-align: center;
}

a {
    color: #FFFFFF;
}

.main_quiz_page {
    color: #FFFFFF;
    display: grid;
    grid-template-rows: 30vh 20vh 5vh 45vh;
    grid-template-columns: 35vw 20vw 7vw 7vw 7vw 21vw;
}

.main_quiz_box {
    grid-row: 2;
    grid-column: 2;
    text-align: center;
}

#quiz_button_one {
    grid-row: 3;
    grid-column: 3;
    /* height: 100%;
    width: 100%; */
}

#answer_line {
    visibility: hidden;
}

#quiz_button_two {
    grid-row: 3;
    grid-column: 4;
    /* height: 100%;
    width: 100%; */
}

#quiz_button_three {
    grid-row: 3;
    grid-column: 5;
    /* height: 100%;
    width: 100%; */
}

button {
    height: 100%;
    width: 100%;
}

#go_back_button {
    height: 10vh;
    width: 15vw;
}
