<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ topic_choice }} Quiz</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>

<body>
    <script>
        let quizArray = [{% for x in rows %}["{{ x[0] }}", "{{ x[1] }}"], {% endfor %}]
    </script>
    <script>
        function loadQA() {
            if (quizArray.length != 0) {
                document.getElementById("quiz_question").innerHTML = quizArray[0][0];
                document.getElementById("answer_line").innerHTML = quizArray[0][1];
                document.getElementById('answer_line').style.visibility = 'hidden'
            }
            else {
                document.getElementById("quiz_question").innerHTML = 'Done!';
                document.getElementById("answer_line").innerHTML = '';
            }
        }
    </script>
    <script>
        function nextQuestion(correctAnswer) {
            if (correctAnswer == true) {
                quizArray.shift();
            }
            else if (correctAnswer == false) {
                quizArray.push(quizArray[0])
                quizArray.shift();
            }
            loadQA();
        }
    </script>


    <button id="go_back_button" onclick="window.history.back()">Go Back</button>
    <div class="main_quiz_page">
        <div class="main_quiz_box">
            <!-- <h1>quiz page</h1>
             <h2>{{ quiz_choice }}</h2>
             <h3>{{ rows }}</h3> -->
            <!-- <h2>{{ random_row[0] }}</h2> -->
            <!-- <h2 id="answer_line">Answer: {{ random_row[1] }}</h2> -->
            <h2 id="quiz_question"></h2>
            <h2 id="answer_line"></h2>
            <!-- {{ rows }} -->
        </div>
        <div id="quiz_button_one">
            <button onclick="document.getElementById('answer_line').style.visibility = 'visible'">Show Answer</button>
        </div>
        <div id="quiz_button_two">
            <!-- <a href="/quiz?topic={{ topic_choice }}&quiz={{ quiz_choice }}"><button >two</button></a> -->
            <button onclick="nextQuestion(false)">Wrong</button>
        </div>
        <div id="quiz_button_three">
            <button onclick="nextQuestion(true)">Correct</button>
        </div>
    </div>
    <script>
        loadQA();
    </script>
</body>

</html>