<!DOCTYPE html>
<html lang="en">

<head>
    <title>App</title>
    <link rel="stylesheet" href="static/main.css">
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
</head>

<body>
    <button id="go_back_button" onclick="window.history.back()">Go Back</button>
    <div class="page_choices">
        <h1>Choose one of the quizzes from below</h1>
        {% for x in quiz_choices %}
        <a href="/quiz?topic={{ topic_choice }}&quiz={{ x }}"><h2>{{ x }}</h2></a><br><br>
        {% endfor %}
    </div>
</body>
</html>
